{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/crear_plato.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid mt-5">
    <!-- Card for Sales History -->
    <div class="card card-custom-prueba shadow-sm">

        <div class="card-body card-body-custom">
            <!-- Formulario de búsqueda -->
            <form method="GET" class="form-inline mb-4 d-flex justify-content-center">
                <div class="input-group mx-2">
                    <input type="text" name="cedula" class="form-control" placeholder="Buscar por documento" value="{{ request.GET.cedula }}">
                </div>
                <div class="input-group mx-2">
                    <input type="text" name="id" class="form-control" placeholder="Buscar por ID" value="{{ request.GET.id }}">
                </div>
                <div class="input-group mx-2">
                    <input type="date" name="fecha" class="form-control" value="{{ request.GET.fecha }}">
                </div>
                <button type="submit" class="btn btn-warning"><i class="fa-solid fa-magnifying-glass"></i></button>

            </form>
        </div>
    </div>
    {% if messages %}
    <div class="alert-container">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
            <button class="close-alert btn btn-sm btn-danger">&times;</button>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <!-- Accordion for Sales History -->
    <div class="accordion mt-4" id="salesHistoryAccordion">
        <!-- Mesa Sales -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <img src="{% static 'icons/movimientos.svg' %}" alt="Mesa" style="width:27px; height:27px;"> REPORTE DE VENTAS EN MESAS
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#salesHistoryAccordion">
                <div class="accordion-body">
                    <table class="table table-hover">
                        <thead class="table-warning">
                            <tr>
                                <th>Compra ID</th>
                                <th>Fecha de Venta</th>
                                <th>Mesa</th>
                                <th>Total</th>
                                <th>Tipo de Pago</th>
                                <th>Cédula del Cliente</th>
                                <th>Platos</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for compra in compras %}
                            <tr>
                                <td><a href="{% url 'editar_venta' compra.id %}">{{ compra.id }}</a></td>
                                <td>{{ compra.fecha_compra|date:"d/m/Y h:i a" }}</td>
                                <td>{{ compra.mesa }}</td>
                                <td>${{ compra.total|format_number }}</td>
                                <td>{{ compra.get_tipo_pago_display }}</td>
                                <td>{{ compra.cedula_cliente }}</td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for detalle in compra.detalles.all %}
                                        <li>{{ detalle.plato.nombre }} - Cantidad: {{ detalle.cantidad }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6" class="text-center">No hay ventas de mesa.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                    <!-- Paginación para ventas de mesa -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            {% if compras.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page_compras=1{% if request.GET.cedula %}&cedula={{ request.GET.cedula }}{% endif %}{% if request.GET.id %}&id={{ request.GET.id }}{% endif %}{% if request.GET.fecha %}&fecha={{ request.GET.fecha }}{% endif %}" aria-label="Primera">
                                        <span aria-hidden="true">&laquo;&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page_compras={{ compras.previous_page_number }}{% if request.GET.cedula %}&cedula={{ request.GET.cedula }}{% endif %}{% if request.GET.id %}&id={{ request.GET.id }}{% endif %}{% if request.GET.fecha %}&fecha={{ request.GET.fecha }}{% endif %}" aria-label="Anterior">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% for num in compras.paginator.page_range %}
                                {% if compras.number == num %}
                                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page_compras={{ num }}{% if request.GET.cedula %}&cedula={{ request.GET.cedula }}{% endif %}{% if request.GET.id %}&id={{ request.GET.id }}{% endif %}{% if request.GET.fecha %}&fecha={{ request.GET.fecha }}{% endif %}">{{ num }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if compras.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page_compras={{ compras.next_page_number }}{% if request.GET.cedula %}&cedula={{ request.GET.cedula }}{% endif %}{% if request.GET.id %}&id={{ request.GET.id }}{% endif %}{% if request.GET.fecha %}&fecha={{ request.GET.fecha }}{% endif %}" aria-label="Siguiente">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page_compras={{ compras.paginator.num_pages }}{% if request.GET.cedula %}&cedula={{ request.GET.cedula }}{% endif %}{% if request.GET.id %}&id={{ request.GET.id }}{% endif %}{% if request.GET.fecha %}&fecha={{ request.GET.fecha }}{% endif %}" aria-label="Última">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <!-- Domicilio Sales -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <img src="{% static 'icons/movimientos.svg' %}" alt="Mesa" style="width:27px; height:27px;"> REPORTE DE VENTAS EN DOMICILIOS
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#salesHistoryAccordion">
                <div class="accordion-body">
                    <table class="table table-hover table-modern">
                        <thead class="table-warning">
                            <tr>
                                <th>Compra ID</th>
                                <th>Fecha de Venta</th>
                                <th>Total</th>
                                <th>Cliente</th>
                                <th>Direccion</th>
                                <th>Telefono</th>
                                <th>Tipo de Pago</th>
                                <th>Cédula del Cliente</th>
                                <th>Platos</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for compra in compras_domicilios %}
                            <tr>
                                <td><a href="{% url 'editar_venta_domicilio' compra.id %}">{{ compra.id }}</a></td>
                                <td>{{ compra.fecha_compra|date:"d/m/Y h:i a" }}</td>
                                <td>${{ compra.total|format_number }}</td>
                                <td>{{ compra.nombre_cliente }}</td>
                                <td>{{ compra.direccion_cliente }}</td>
                                <td>{{ compra.telefono_cliente }}</td>
                                <td>{{ compra.get_tipo_pago_display }}</td>
                                <td>{{ compra.cedula_cliente }}</td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for detalle in compra.detalles.all %}
                                        <li>{{ detalle.plato.nombre }} - Cantidad: {{ detalle.cantidad }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="9" class="text-center">No hay ventas de domicilio.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                    <!-- Paginación para ventas de domicilio -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            {% if compras_domicilios.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page_compras_domicilios=1{% if request.GET.cedula %}&cedula={{ request.GET.cedula }}{% endif %}{% if request.GET.id %}&id={{ request.GET.id }}{% endif %}{% if request.GET.fecha %}&fecha={{ request.GET.fecha }}{% endif %}" aria-label="Primera">
                                        <span aria-hidden="true">&laquo;&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page_compras_domicilios={{ compras_domicilios.previous_page_number }}{% if request.GET.cedula %}&cedula={{ request.GET.cedula }}{% endif %}{% if request.GET.id %}&id={{ request.GET.id }}{% endif %}{% if request.GET.fecha %}&fecha={{ request.GET.fecha }}{% endif %}" aria-label="Anterior">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% for num in compras_domicilios.paginator.page_range %}
                                {% if compras_domicilios.number == num %}
                                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page_compras_domicilios={{ num }}{% if request.GET.cedula %}&cedula={{ request.GET.cedula }}{% endif %}{% if request.GET.id %}&id={{ request.GET.id }}{% endif %}{% if request.GET.fecha %}&fecha={{ request.GET.fecha }}{% endif %}">{{ num }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if compras_domicilios.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page_compras_domicilios={{ compras_domicilios.next_page_number }}{% if request.GET.cedula %}&cedula={{ request.GET.cedula }}{% endif %}{% if request.GET.id %}&id={{ request.GET.id }}{% endif %}{% if request.GET.fecha %}&fecha={{ request.GET.fecha }}{% endif %}" aria-label="Siguiente">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page_compras_domicilios={{ compras_domicilios.paginator.num_pages }}{% if request.GET.cedula %}&cedula={{ request.GET.cedula }}{% endif %}{% if request.GET.id %}&id={{ request.GET.id }}{% endif %}{% if request.GET.fecha %}&fecha={{ request.GET.fecha }}{% endif %}" aria-label="Última">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        // Ocultar alertas inicialmente
        const alerts = document.querySelectorAll('.alert');
        alerts.forEach(alert => {
            alert.classList.add('hidden');
        });
    
        // Añadir funcionalidad de cierre a cada alerta
        const closeButtons = document.querySelectorAll('.close-alert');
        closeButtons.forEach(button => {
            button.addEventListener('click', (event) => {
                event.target.parentElement.remove(); // Elimina el mensaje de la página
            });
        });
    });
</script>
    
{% endblock %}
