.alert {
  transition: opacity 0.5s ease-out;
}
.alert.fade {
  opacity: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

.main-container {
  width: 100%; /* Ocupa el 100% del ancho disponible */
  padding: 0 15px; /* Agrega algo de relleno si lo necesitas */
  box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}

footer {
  margin-top: auto; /* Empuja el footer al fondo del contenedor */
}

.main-container-2 {
  width: 900%; /* Ocupa el 100% del ancho disponible */
  padding: 0 15px; /* Agrega algo de relleno si lo necesitas */
  box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}

body {
  padding-top: 56px; /* Ajusta esto si la altura del navbar cambia */
}


.card-custom {
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #bde4f0b2; /* Fondo oscuro para un aspecto moderno */
  color: #060220; /* Texto blanco para contraste */
  transition: transform 0.3s, box-shadow 0.3s;
}

.card-custom:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-header-custom {
  background-color: #2c2c2e; /* Un poco más claro que el fondo de la tarjeta */
  border-bottom: none;
  border-radius: 15px 15px 0 0;
}


/* Estilo para la barra de navegación */
.navbar.bg-body-tertiary {
  display: flex; /* Usar flexbox para el contenedor del navbar */
  justify-content: center; /* Centrar horizontalmente los elementos */
  align-items: center; /* Alinear verticalmente los elementos */
  flex-wrap: wrap; /* Asegurarse de que los elementos no se salgan del contenedor */
  background-color: #eaecf1f3 !important; /* Fondo oscuro */
  border-bottom: 1px solid #bdb9d9; /* Borde inferior azul */
  width: 100%; /* Asegura que el navbar ocupe el 100% del ancho de la pantalla */
  position: fixed; /* Opcional: Para que el navbar se quede fijo en la parte superior */
  top: 0; /* Asegura que el navbar esté en la parte superior */
  left: 0; /* Asegura que el navbar esté alineado con el borde izquierdo */
  z-index: 1000; /* Asegura que el navbar esté encima de otros elementos */
}

.navbar .container-fluid {
  display: flex; /* Usar flexbox para el contenedor interno */
  justify-content: space-between; /* Espacio entre los elementos */
  align-items: center; /* Alinear verticalmente los elementos */
  width: 100%; /* Asegurarse de que el contenedor ocupe todo el ancho disponible */
}

.navbar-brand-name {
  color: #1c193a; /* Color del texto de la marca */
  font-size: 1.6rem; /* Tamaño de fuente de la marca */
  font-weight: 600; /* Negrita */
  margin-left: 10px; /* Espacio a la izquierda */
  text-decoration: none; /* Eliminar subrayado */
}

.navbar-brand {
  color: #007bff; /* Color del texto de la marca */
  font-size: 1.5rem; /* Tamaño de fuente de la marca */
  font-weight: 700; /* Negrita */
  margin-left: 10px; /* Espacio a la izquierda */
}

.navbar-brand:hover {
  color: #007bff; /* Color del texto al pasar el cursor */
}

.navbar-toggler {
  border: none; /* Eliminar el borde del botón del toggler */
}

.navbar-nav .nav-link {
  color: #000000; /* Color de los enlaces de navegación */
  padding: 0.5rem 1rem; /* Espaciado */
  font-size: 1.2rem; /* Tamaño de fuente */
  font-weight: 500; /* Negrita */
}

.navbar-nav .nav-link:hover {
  color: #080808; /* Color de los enlaces al pasar el cursor */
}

.navbar-nav .dropdown-menu {
  background: #ffffff; /* Fondo oscuro para el menú desplegable */
  border: 1px solid #03172de4; /* Borde azul para el menú desplegable */
  max-width: 100px;
}

.navbar-nav .dropdown-menu .dropdown-item {
  color: #040934; /* Color de los elementos del menú desplegable */
  font-weight: 700; /* Negrita */
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
  background: #007bff; /* Fondo azul para los elementos al pasar el cursor */
  color: #ffffff; /* Color del texto al pasar el cursor */
}

.navbar-nav .dropdown-divider {
  border-color: #007bff; /* Color del divisor */
}

.navbar-form .form-control {
  border-radius: 20px; /* Bordes redondeados */
}

.navbar-form .btn-outline-success {
  border-radius: 20px; /* Bordes redondeados para el botón */
}

/* Estilo del icono dentro de la barra de navegación */
.navbar .bi {
  color: #ffffff; /* Color del ícono */
  margin-right: 10px; /* Espacio a la derecha del ícono */
}

.navbar .bi:hover {
  color: #007bff; /* Color del ícono al pasar el cursor */
}

/* Estilo para la imagen dentro de la tarjeta */
.face-pic {
  width: 100%; /* Ajusta el ancho de la imagen */
  max-width: 120px; /* Tamaño máximo de la imagen */
  border-radius: 8px; /* Bordes redondeados */
  margin-bottom: 1rem; /* Espacio debajo de la imagen */
}

/* Estilo para el botón */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.card-custom {
  border-radius: 10px; /* Bordes redondeados */
  border: 1px solid #ddd; /* Borde sutil */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  transition: box-shadow 0.3s ease; /* Transición suave para la sombra */
}

.card-custom:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumentar la sombra al pasar el ratón */
}

.card-body-custom {
  padding: 1.5rem; /* Espaciado interno más amplio */
}

.card-title-custom {
  font-size: 1.5rem; /* Tamaño de fuente más grande para el título */
  color: #333; /* Color del texto */
}

.card-text-custom {
  font-size: 1.1rem; /* Tamaño de fuente para el texto */
  color: #555; /* Color del texto */
}

.list-group-item-custom {
  font-size: 1.1rem; /* Tamaño de fuente para los elementos de la lista */
  padding: 10px; /* Espaciado interno */
}

.badge-custom {
  font-size: 1rem; /* Tamaño de fuente del badge */
  padding: 0.5em 0.75em; /* Espaciado del badge */
}

/* Personalizar las flechas del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
background-color: black; /* Fondo negro para el icono */
border-radius: 50%; /* Fondo redondeado */
}

/* Color de los iconos de flecha */
.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
color: white; /* Color del icono */
}

/* Ajustar el tamaño de los botones de control del carrusel */
.carousel-control-prev,
.carousel-control-next {
width: 5%; /* Ajustar el ancho del botón */
}

/* Opcional: Añadir un fondo negro para el área de las flechas */
.carousel-control-prev,
.carousel-control-next {
background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semitransparente */
}

.card-title {
font-size: 1.25rem; /* Tamaño del texto, ajusta según prefieras */
font-weight: 700; /* Peso de la fuente, negrita */
color: #333; /* Color del texto, puedes cambiarlo según tu esquema de color */
text-transform: uppercase; /* Transforma el texto a mayúsculas */
letter-spacing: 1px; /* Espaciado entre letras */
margin-bottom: 1rem; /* Espaciado inferior */
text-align: center; /* Centra el texto horizontalmente */
}

.card-title-platos {
  font-size: 1.25rem; /* Tamaño del texto, ajusta según prefieras */
  font-weight: 700; /* Peso de la fuente, negrita */
  color: #b96a6a; /* Color del texto, puedes cambiarlo según tu esquema de color */
  text-transform: uppercase; /* Transforma el texto a mayúsculas */
  letter-spacing: 1px; /* Espaciado entre letras */
  margin-bottom: 1rem; /* Espaciado inferior */
  text-align: center; /* Centra el texto horizontalmente */
  }

.card-subtitle-mesa {
  font-size: 1.25rem; /* Tamaño del texto, ajusta según prefieras */
  font-weight: 700; /* Peso de la fuente, negrita */
  color: #fd0d0d; /* Color del texto, puedes cambiarlo según tu esquema de color */
  text-transform: uppercase; /* Transforma el texto a mayúsculas */
  letter-spacing: 1px; /* Espaciado entre letras */
  margin-bottom: 1rem; /* Espaciado inferior */
  text-align: center; /* Centra el texto horizontalmente */
  }

  .card-text-mesa {
    font-size: 0.9rem; /* Tamaño del texto, ajusta según prefieras */
    font-weight: 700; /* Peso de la fuente, negrita */
    color: #151313; /* Color del texto, puedes cambiarlo según tu esquema de color */
    text-transform: uppercase; /* Transforma el texto a mayúsculas */
    letter-spacing: 1px; /* Espaciado entre letras */
    margin-bottom: 1rem; /* Espaciado inferior */
    text-align: center; /* Centra el texto horizontalmente */
    }

.card-title a {
text-decoration: none; /* Elimina el subrayado del enlace */
color: #0057b33a; /* Color del enlace, puedes cambiarlo a tu color de enlace preferido */
transition: color 0.3s ease; /* Transición suave para el color del enlace */
}

.card-title a:hover {
color: #0056b3; /* Color del enlace al pasar el cursor */
}

hr.my-5 {
border: 0;
border-top: 1px solid #1a1829; /* Borde de la división */
margin: 3rem 0; /* Espaciado superior e inferior */
}

/* Alineación del título */
h2 {
font-size: 1.75rem;
font-weight: bold;
color: #343a40; /* Color de texto */
}

/* Estilo para el formulario de búsqueda */
.form-inline .form-control {
width: auto; /* Ajustar el ancho del campo de entrada */
}

.table-responsive {
margin-top: 20px; /* Espaciado superior para la tabla */
}

/* Estilos para la tabla */
.table {
border-collapse: collapse;
}

.table thead {
background-color: #0057b33a; /* Fondo oscuro para el encabezado */
color: rgb(7, 7, 7); /* Color de texto del encabezado */
}

.table th, .table td {
text-align: center; /* Centrar el texto en las celdas */
font-size: 1rem;
}

.table-bordered {
border: 1px solid #dee2e6; /* Borde de tabla */
}

.table-striped tbody tr:nth-of-type(odd) {
background-color: #f9f9f9; /* Color de fila alterno */
}

.list-unstyled {
padding-left: 0; /* Eliminar relleno de la lista */
margin-bottom: 0; /* Eliminar margen inferior */
}

.list-unstyled li {
font-size: 1.1rem; /* Tamaño de fuente de los elementos de la lista */
}

/* Asegúrate de incluir este CSS en tu archivo de estilos o en una etiqueta <style> */
.fixed-size-card {
width: 100%; /* Ajusta el ancho según sea necesario */
max-width: 100%; /* Asegura que no se desborde del contenedor */
height: 500px; /* Altura fija para la tarjeta */
overflow-y: auto; /* Permite el scroll vertical si el contenido excede la altura */
}

.card-body {
height: calc(100% - 56px); /* Ajusta la altura del cuerpo de la tarjeta, restando la altura del header y footer si es necesario */
overflow-y: auto; /* Añade scroll si el contenido es demasiado grande */
}

.btn-custom {
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btn-custom:hover {
  background-color: #0056b3;
}

.btn-custom-back {
  color: #ffffff;
  background-color: #c00c0c;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btn-custom-back:hover {
  background-color: #a00909;
}

.btn-custom-yellow {
  color: #000000;
  background-color: #e2d40e;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btn-custom-yellow:hover {
  background-color: #9ca605;
}